name: Sample Workflow
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout
    - name: Run a one-line script
      run: echo "Hello, world!"
    - name: Run a multi-line script
      run: |
        echo "Add other commands to run"
        echo "Add another command"
